<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppSecret</key>
	<string>{Your app secret here}</string>
	<key>707f9616-bb58-44d6-ba97-c6be98233544</key>
	<string></string>
</dict>
</plist>
